*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
    background-image: "./bg.jpg";

}
main{
    position: relative;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-bottom: 1px solid black;
}

.nav-list-items{

}